language: ruby
rvm:
  - 2.0
  - 2.1
  - 2.2
  - 2.2.7
  - 2.3.3
  - 2.4.0
env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
notifications:
  email:
    recipients:
      - "amsterdamos@gmail.com"
    on_success: "change"
    on_failure: "always"
